
.brandsHeaderWhite{
  color: #FFF;
  margin-left: 16vw;
  margin-bottom: 50px;
}

.videoBG {
    width: 100%;
  }

.searchContainer{
    background:linear-gradient(40deg, rgba(26, 25, 25, 0.6), rgba(250, 250, 250, 0.9)), url("https://tyrelineimg.s3.amazonaws.com/spencer-pugh-uzDCTCx6GXE-unsplash.jpg");
    background-size: cover;
    background-position: center ;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-2px;
}

.topVideoTextSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.topVideoTextSectionHeader{
  font-size: 35px;
  line-height: 35px;
}

.topVideoTextSectionText{
  margin-top: 10px;
  text-align: end;
  font-size: 20px;
  line-height: 20px;
}


.searchBoxInner{
  padding-top: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100px;

}

.searchButton{
  width: 100%;
  height: 50px;
  background-color: chartreuse !important;
  color: black;
}

.HScrollContainer{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(40deg, rgba(26, 25, 25, 0.6), rgba(99, 99, 99, 0.3)), url("https://tyrelineimg.s3.amazonaws.com/scott-goodwill-CtRE4_4L7b8-unsplash.jpg");
  background-size: cover;
  background-position: center ;
  overflow:hidden;
}

.LogoDisplay{
  overflow:hidden;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#fff ;
  background-size: cover;
  background-position: center ;
}


.SocialMedia{
  overflow:hidden;
  background: linear-gradient(0deg, rgba(26, 25, 25, 0.2), rgba(0, 0, 0, 0.4)),url("https://tyrelineimg.s3.amazonaws.com/walter-sturn-Rd8FuyvGRGY-unsplash.jpg") center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.searchBoxTemp{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBoxTempText{
  display: flex;
  align-items: flex-end;
  justify-content: center;
} 



@media only screen and (max-width: 600px) {
  .topVideoSection div{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .topVideoTextSection{
    align-items: center;
  }

  .topVideoTextSectionText{
    text-align: center;
  }

  .searchBoxInner{
    margin-bottom: 25px;
    height: 120px;
  }

  .searchButton{
    margin-top: 10px;
  }

}