.resourcesImage{
    width: 100%;
}

.resourceTitle{
    font-weight: 300;
}

.resourcesSectionTitle{
    margin-top: 40px;
    font-weight: 300;
    font-size: 40px;
    color: rgb(77, 77, 77);
}

.resourcesMainContainer{
    margin-bottom: 40px;
}