.memberImage{
    width: 150px;
}

.aboutUsSocial{
    height: 25px;
    margin-right: 10px;
}

.aboutUserDetailsContainer{
    padding-left: 25px;
    padding-right: 25px;
}

.memeberParaData{
    padding-top: 10px;
}