.footerImg{
    width:200px
}

.footer{
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footerText{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.seperator{
    padding-left: 10px;
    padding-right: 10px;
}

.footerContent{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.footerLink{
    text-decoration: none;
    color: olivedrab;
}

.footerLink:hover{
    color: rgb(67, 88, 24);
}

@media only screen and (max-width: 600px) {
    .footer{
        display: flex;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
        justify-content: center;
    }

    .footerImg{
        width:150px
    }
}


.footerList li{
    list-style: none;
}

.footerContainer{
    background: rgb(241, 241, 241);
    padding-top: 40px;
    padding-bottom: 40px;
}

.footerSocial{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerSocial a{
    padding: 10px;
}

.socialImageFooter{
    width: 40px;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all 0.4s;
}

.socialImageFooter:hover{
    filter: grayscale(0%);
}