.navBarColor{
    background-color: #FFFFFF;
}

.dropdownLink a{
    color: #000 !important;
}

.dropdown-menu a{
    color: black !important;
}

.topLogoContainer{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topImageContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.topImageLogo{
    width: 150px;
}
.topNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.navLogo{
    margin-top: -5px;
    margin-bottom: 10px;
}

.navLinksContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

}

.navLinkHolder{
    list-style: none;
    margin-top: 10px;
}

.navLinkHolder a{
    text-decoration: none;
    color: #000;
    margin-left: 20px ;
}

.navLink .active{
    color: rgb(125, 165, 16) ;
}

.navLink a:hover{
    color: rgb(125, 165, 16) ;
}

.navLink a{
    text-decoration: none;
    padding: 20px;
    color: #000;
    /* color: rgb(238, 238, 238); */
    font-weight: 600;
    transition: all 0.6s;
}


.topNavBar{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .topImageContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}